backend:
  name: git-gateway
  branch: main

media_folder: "src/content/blog/images" # Donde se guardarán las imágenes subidas
public_folder: "images" # Ruta pública a las imágenes

collections:
  - name: "blog"
    label: "Blog"
    folder: "src/content/blog"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Description", name: "description", widget: "text"}
      - {label: "Author", name: "author", widget: "string"}
      - {label: "Image", name: "image", widget: "image", required: false}
      - {label: "Tags", name: "tags", widget: "list"}
      - {label: "Draft", name: "isDraft", widget: "boolean", default: false}
      - {label: "Body", name: "body", widget: "markdown"}